body {
        margin: 0;
        font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
        color: #122e6d;
        font-size: 12px;
}

.container {
        margin: 0 auto;
        margin-left: 37px;
        width: 914px;
}

.header {
  width: auto;
  height: auto;
}

.intro {
        width: 717px;
        padding: 58px 0 10px 0px;
}

.intro h4 {
        font-size: 15px;
        margin: 0 0 10px 0;
}

/* @group SignUp */

.signup {
        float: right;
        width: 272px;
        margin-left: 32px;
        background: url(../images/signup_bkgrd.jpg) repeat-y;
}

.signinemail {
        padding:7px 0 0 25px;
        width:68px;
        float:left;
        font-size: 90%;
}

.signinpw {
        padding:7px 0 0 25px;
        width:68px;
        clear: left;
        float:left;
        font-size: 90%;
        font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
        padding-bottom:10px;
}

.signinflash {
        padding:7px 0 0 25px;
        width:300px;
        float:left;
}

.create {
        background: url(../images/create.jpg) no-repeat;
        margin: 0 auto;
        text-align: center;
        width: 227px;
        height: 60px;
        font-size: 16px;

}

.create a:link {
        text-decoration: none;
        color: #f56f25;
}

.create a:visited {
        text-decoration: none;
}

.create a:hover {
        text-decoration: underline;
}

.create a:active {
        text-decoration: none;
}

.createsmall {

}

.signin {
        background: url(images/signin.jpg) no-repeat;
        margin: 0 auto;
        text-align: center;
        width: 90px;
        height: 34px;
        font-size: 10px;
        margin-top: 10px;
}

.signin a:link {
        text-decoration: none;
        color: #f56f25;
}

.signin a:visited {
        text-decoration: none;
        color: #f56f25;
}

.signin a:hover {
        text-decoration: underline;
}

.signin a:active {
        text-decoration: none;
}

/* @end */

.maingraph {
        width: 582px;
}
.graphs {
    width: 904px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 0px;
    background-color: #f7f7f7;
}

/* @group Footer */

.footer {
        background: url(../images/tabonline_footer.png) no-repeat;
        height: 38px;
        width: 914px;
        clear: both;
}

.footerinfo {
        font-size: 100%;
        color: black;
        padding: 16px 0 0 0px;

}

.footerinfo a:link {
        text-decoration: none;
        color: #122e6d;
}

.footerinfo a:visited {
        text-decoration: none;
        color: #122e6d;
}

.footerinfo a:hover {
        text-decoration: underline;
        color: #122e6d;
}

.footerinfo a:active {
        text-decoration: none;
        color: #122e6d;
}

/* @end */

.createintro {
        width: 868px;
        padding: 28px 0 10px 6px;
}

.leftform {
        width: 140px;
        padding: 5px 0 0 40px;
        float: left;
        clear: both;
}

.createform {
        min-height: 450px;
}

.signin2 {
        background: url(../images/create2.jpg) no-repeat;
        margin: 0 auto;
        text-align: center;
        width: 125px;
        height: 31px;
        font-size: 10px;
        margin-top: 10px;
        border: none;
}

.signin2 a:link {
        text-decoration: none;
        color: #f56f25;
}

.signin2 a:visited {
        text-decoration: none;
        color: #f56f25;
}

.signin2 a:hover {
        text-decoration: underline;
}

.signin2 a:active {
        text-decoration: none;
}

.thumbnail { width:192px; height:192px; }
img {
        border-color: #DDDDDD;
        border: 1;
}

.button {
        color: #f56f25;
}

iframe {
    border: 1px solid #DDDDDD;
}

.unobtrusive a:link {
        text-decoration: none;
}

.unobtrusive a:visited {
        text-decoration: none;
}

.unobtrusive a:hover {
        text-decoration: underline;
}

.unobtrusive a:active {
        text-decoration: none;
}
